body {
    width: 300px;
    padding: 10px;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f9f9f9;
}

h1 {
    font-size: 18px;
    color: #333;
}

#textCheckbox { /*sure there's a better way...*/
    font-size: 11px;
}

button {
    background-color: #da3737;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #cc0000;
}